@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #f2f2f2;
    color: #333333;
}

.blue {
    background-color: #82B3D3;
    color: #ffffff;
}

.lightblue {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
 }

.stillblue {
    background-color: rgba(131, 179, 211, 0.2);
    color: #000000
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-container {
    width: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
}

.site-navigation {
    display: flex;
    margin: 0 auto;
    width: 1060px;
    align-items: flex-start;
    position: relative;
}

.page-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.navigation-list {
    padding: 0;
    margin: 0;
    margin-left: 168px;
    width: 440px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigation-user {
    max-width: 320px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 14px 0;
    list-style-type: none;
    align-items: center;
}

.navigation-item {

}

.navigation-link {
    display: block;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    text-align: center;
    padding: 20px 16px;
}

.favourite-number {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #7DB54F;
    border-radius: 50%;
    padding: 5px 5px;
    position: absolute;
    top: -3px;
    right: 4px;
}

.button {
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
    padding: 8px 50px;
    font-family: "PT Sans", sans-serif;
    display: inline-block;
}

.user-button {
    padding-left: 20px;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #756157;
    border-radius: 4px;
    padding: 8px 34px;
    display: inline-block;
  }

.main-index {
    text-align: center;
    flex-grow: 1;
    background-color: #FFFFFF;
}

.welcome {
    background-color: #4d9adf;
    background-image: url("../images/backgrounds/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    color: #000000;
    padding: 50px 0 82px;
}

.welcome-image-text {
    display: block;
    margin: 0 auto;
}

.advantages {
    padding-top: 75px;
}

.advantages-title {
    margin: 0 auto 25px;
    padding: 0;
    width: 620px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.advantages-title-description {
    margin: 0 auto;
    width: 651px;
    text-align: center;
}

.advantages-description {
    margin: 0 auto 90px;
    padding: 0;
    width: 230px;
    text-align: center;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 400px;
    padding-top: 112px;
    padding-bottom: 112px;
}

.advantages-subtitle {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.advantages-subtitle-white {
    color: #FFFFFF;
}

.first-advantage-container {
    width: 400px;
    padding-top: 101px;
    padding-bottom: 101px;
}

.last-advantage-container {
    width: 400px;
    padding-top: 101px;
    padding-bottom: 101px;
}

.advantage-container {
    color: #ffffff;
    background-color: #83B3D333;
    display: flex;
    width: 1200px;
    padding: 0;
}

.city-image {
    background-color: #83B3D333;
    display: flex;
    justify-content: space-between;
}

.city-image-container {
    width: 800px;
    height: 100%;
    overflow: hidden;
}

.nature-bridge-image-container {
    order: -1;
}

.nature-bridge-image {
    background-color: #83B3D333;
    display: flex;
    justify-content: space-between;
}

.service {
    padding-top: 64px;
}

.service-title {
    margin: 0 auto 25px;
    padding: 0;
    width: 620px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.service-title-description {
    text-align: center;
}
.service-description {
    margin: 0 auto;
    width: 230px;
}

.service-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    width: 400px;
    padding-top: 183px;
    padding-bottom: 83px;
}

.service-subtitle {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.hotel-reservation {
    padding-top: 96px;
    padding-bottom: 96px;
}

.hotel-reservation-title {
    margin: 0 auto 25px;
    padding: 0;
    width: 620px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.hotel-reservation-description {
    width: 592px;
    margin: 0 auto;
}

.hotel-reservation-button {
    font-size: 20px;
    line-height: 36px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer {

}

.subscription {
    text-align: center;
    color: #ffffff;
    background-color: #6999C1;
    background-image: url("../images/backgrounds/subscribe-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscription-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscription-description {
    margin: 0 auto 25px;
    text-align: center;
    width: 475px;
}

.subscription-form {

}

.field {
    background-color: #F2F2F2;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px 0 0 4px;
    border-width: 0;
}

.subscription-button {
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
}

.footer-contacts {
    display: flex;
    padding: 40px 70px 30px;
    align-items: center;
}

.footer-social-media-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 35px;
}

.footer-social-media-item {

}

.footer-social-media-link {

}

.vk-icon {
    background-image: url("../images/icons/vk.svg");
    background-repeat: no-repeat;
}

.tg-icon {
    background-image: url("../images/icons/tg.svg");
    background-repeat: no-repeat;
}

.yt-icon {
    background-image: url("../images/icons/youtube.svg");
    background-repeat: no-repeat;
}

.footer-contact-phone {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    width: 340px;
    padding: 5px 195px;
    text-align: center;
}

.footer-copyright {

}

.footer-copyright-logo {

}


/* Catalog styles */

.main-catalog {
    flex-grow: 1;
}

.filters {
    background-color: #6999C1;
    color: #ffffff;
    background-image: url("../images/backgrounds/filters-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.catalog-title {
    margin: 0 71px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.breadcrumbs-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    display: block;
    position: relative;
    margin-right: 10px;
    padding-right: 18px;
}

.breadcrumbs-link-img {

}

.breadcrumbs-link {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

.catalog-filters {

}

.catalog-filters-container {
    width: 1060px;
    margin: 0 auto;
    padding-top: 35px;
}

.catalog-filters-form {
    display: flex;
}

.catalog-filters-group {
    width: 151px;
    margin: 0;
    margin-right: 70px;
    border: none;
    padding: 0;
}

.catalog-filters-group-price {

}

.catalog-filters-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 32px;
}

.catalog-filters-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-filters-item {

}

.catalog-filters-item:not(:last-child) {
    margin-bottom: 16px;
  }


.control {
    position: relative;
    padding-left: 36px;
}

.control-input {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 10px;
    top: 15px;
    left: 10px;
}

.catalog-filters-price {
    width: 290px;
    margin-left: 70px;
}

.range-block {

}

.scale {

}

.range {

}

.catalog-button-group {
    margin-top: 32px;
    margin-left: auto;
    width: 191px;
 }

.apply-button {
    background-color: #82B3D3;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 50px;
    margin-bottom: 32px;
}

.reset-button {
    background-color: transparent;
    border: none;
    padding: 8px 57px;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.searching-results {

}

.sorting {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    margin-bottom: 40px;
    align-items: center;
}

.results-title {
    margin: 56px 70px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.select-control {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.view-of-results {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 160px;
    margin-left: auto;
    flex-wrap: wrap;
    align-items: center
}

.view-of-results-button {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    text-decoration: none;
    color: #000000;
}

.hotel-cards-wrapper {
    margin: 0 auto;
    width: 1060px;
}

.hotel-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
 }

.hotel-card {
    width: 340px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 20px;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-card-image {
    display: block;
    object-fit: contain;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.hotel-card-description-container {
    gap: 16px 20px;
}

.hotel-card-text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.add-to-favorotes-button {
    background: #82B3D3;
}

.hotel-grade {
    height: 17px;
    background: url("../images/icons/star.svg") space 0 0;
    margin-top: 9px;
    margin-bottom: 5px;
}

.hotel-grade-4 {

}

.hotel-grade-3 {

}

.hotel-grade-2 {

}

.hotel-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background: #F2F2F2;
    border-radius: 4px;
    margin-top: 9px;
    margin-bottom: 5px;
}

.pagination {
    padding-top: 80px;
    padding-left: 70px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 300px;
    margin-bottom: 59px;
}

.pagination-item {

}

.pagination-link {
    background-color: #82B3D3;
    color: #ffffff;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 11.36px;
    padding-bottom: 12.64px;
    padding-left: 23.24px;
    padding-right: 23.24px;
}

.pagination-dots {
    background-color: #ffffff;
    color: #000000;
}

.catalog-subscription {
    background-color: #ffffff;
    text-align: center;
}

.catalog-subscription-title {
    color: #000000;
    margin: 0 auto;
    padding: 0;
    width: 410px;
    margin-bottom: 20px;
}

.catalog-subscription-description {
    color: #000000;
    margin: 0 auto;
    padding: 0;
    width: 475px;
    margin-bottom: 54px;
}
